@import "basestyle.less";

.below{
    padding: 0 0.4rem;
    .acticle-title{
        font-size: 0.48rem;
        font-weight: 700;
        color: #000;
        text-align: center;
        margin-bottom: 0.6rem;
    }
    .acticle-content{
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
    
        .below-card {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            max-width: 100%;
            padding: 0.04rem;
            border-radius: 0.48rem;
            overflow: hidden;
            line-height: 1.6;
            transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
            
            &::before {
                content: "";
                position: absolute;
                height: 200%;
                width: 160%;
                border-radius: inherit;
                background: @main-color;
                /* background: linear-gradient(to right, #0a3cff, #0a3cff); */
                transform-origin: center;
                animation: moving 4.8s linear infinite paused;
                transition: all 0.88s cubic-bezier(0.23, 1, 0.32, 1);
            }
            
            &.focus {
                box-shadow: 0rem 0.12rem 0.26rem rgba(62, 150, 247, 0.1),
                    0rem 0.48rem 0.48rem rgba(62, 150, 247, 0.09),
                    0rem 1.1rem 0.66rem rgba(62, 150, 247, 0.05),
                    0rem 1.94rem 0.78rem rgba(62, 150, 247, 0.01), 
                    0rem 3.04rem 0.86rem rgba(62, 150, 247, 0);
                scale: 1.05;
                color: #000000;
                
                &::before {
                    animation-play-state: running;
                    z-index: -1;
                    width: 20%;
                }
                
                .content {
                    padding: 2rem 0.6rem 0.6rem;
                    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.6));
                    backdrop-filter: blur(3rem);
                    .heading,
                    .para {
                        color: #000000;
                    }
                }
            }
            
            .content {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 0.2rem;
                padding: 0.6rem 0.6rem 0.6rem;
                border-radius: 0.44rem;
                color: #ffffff;
                overflow: hidden;
                background: transparent;
                border-top: 0.03rem solid #FFF;
                transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
                transform-origin: top;
                .content-icon{
                    position: absolute;
                    top: 0.6rem;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 1.2rem;
                    height: 1.2rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .promiseicon{
                        width: 0.6rem;
                        height: auto;
                        color: @main-color;
                    }
                    &:after {
                        content: "";
                        position: absolute;
                        inset: -0.08rem;
                        box-shadow: inset 0px 0px 0.12rem @main-color;
                        border: 0.08rem solid transparent;
                        border-top: 0.08rem solid @main-color;
                        border-bottom: 0.08rem solid @main-color;
                        border-radius: 50%;
                        width: 100%;
                        height: 100%;
                        animation: cspin 2s linear infinite;
                    }
                    @keyframes cspin {
                        0% {
                          transform: rotate(0deg);
                        }
                      
                        100% {
                          transform: rotate(360deg);
                        }
                      }
                }
                .heading {
                    font-weight: 700;
                    font-size: 0.32rem;
                    z-index: 1;
                    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
                }
                
                .para {
                    z-index: 1;
                    font-size: 0.24rem;
                    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
                    text-align: justify;
                }
            }
        }
    }
    
    @keyframes moving {
        0% {
            transform: rotate(0);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}


