.sexual{
	margin-top: 0.5rem;
}

.sexual-box{
	display: flex;
	margin-left: 0.2rem;
	margin-right: 0.24rem;
	margin-bottom: 0.6rem;
}
.sexual-box .sexual-img{
	float:left;
}
.sexual-box .sexual-text{
	float:left;
	margin-left: 0.3rem;
	/*padding-right: 0.43rem;*/
	align-self: center;
}
.sexual-box .sexual-text .main-title{
	font-size: 0.3rem;
	font-weight: 500;
	margin-bottom: 0.3rem;
}
.sexual-box .sexual-text .main-title a{
	color: #000000;
}
.sexual-box .sexual-text .brief{
	font-size: 0.26rem;
	color: #B2B2B2;
}
.sexual-box .sexual-img img{
	width: 2.18rem;
	/*height: 2.3rem;*/
}
