@font-face {
  font-family: 'iconfont';  /* project id 2299425 */
  src: url('//at.alicdn.com/t/font_2299425_6c2xxev6fpu.eot');
  src: url('//at.alicdn.com/t/font_2299425_6c2xxev6fpu.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2299425_6c2xxev6fpu.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2299425_6c2xxev6fpu.woff') format('woff'),
  url('//at.alicdn.com/t/font_2299425_6c2xxev6fpu.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2299425_6c2xxev6fpu.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-you:before {
  content: "\e613";
}

.icon-you1:before {
  content: "\e614";
}

.icon-shuangxia:before {
  content: "\e600";
}

.icon-cart:before {
  content: "\e623";
}

