body{
	background: #fff;
}
.banner{
	width: 100%;
	img{
		width: 100%;
	}
}
.main{
	margin: 40px 0;
	.content{
		overflow: hidden;
		margin-top: 40px;
	}
	.page-r{
		width: 765px;
		float: left;
	}
	.color{
		font-size: 22px;
		color: #3190e2;
		margin-bottom: 20px;
	}
	p{
		font-size: 18px;
		color: #020202;
		line-height: 26px;
		margin-bottom: 20px;
	}
}