header{
	width:100%;
	padding-top: 10px;
	background: #fff;
    font-family: "Microsoft YaHei";
    padding-bottom: 10px;
	.container{
		overflow: hidden;
	}
	.logoimg{
		height: 90px;
		display: inline-block;
	}
	.text{
		color: #3190e1;
		font-weight: bold;
		font-size: 26px;
		vertical-align: top;
		margin-top: 30px;
		display: inline-block;
	}
	.nav{
		width: 960px;
		float: right;
	    margin-top: 32px;
		.cialisnavList{
			width: 100%;
			height: 100%;
			display: flex;
			.item{
				display: inline-block;
				flex: 1;
				font-size: 16px;
				line-height: 20px;
				text-align: center;
				vertical-align: bottom;
				a:hover, .navon{
					font-weight: bold;
				}
				.navon{
					border-bottom: 4px solid #3190e1;
				}
				a{
				    padding-bottom: 10px;
				    box-sizing: border-box;
				    color: #000;
				}
			}
		}
	}
}
.topText{
	box-sizing: border-box;
	border: 1px solid #004684;
	color: #004684;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	line-height: 70px;
	margin-top: 10px;
	letter-spacing: 6px;
}
.crumbs{
	font-size: 16px;
    margin: 20px 0;
    a{
    	color: #4295e1;
    	&:first-child{
    		color: #000;
    	}
    }
}
.modelTitle{
	width: 100%;
	margin-bottom: 40px;
	.text{
		font-size: 32px;
		font-weight: bold;
		color: #3190e2;
		width: 100%;
		height: 70px;
		line-height: 70px;
		text-align: center;
		position: relative;
	}
}	
footer{
	width: 100%;
	background: #fff;
	.container{
		overflow: hidden;
	}
	.footer-nav-list{
		background: #3190e2;
		line-height: 60px;
		.container{
			display: flex;
			width: 1000px;
		}
		.item{
			font-size: 16px;
			color: #fff;
			flex: 1;
		}
	}
	img{
		float: left;
	    margin-top: 50px;
	    width: 246px;
	    margin-left: 152px;
	}
	.footcon{
		margin: 20px auto;
		.text{
			width: 50%;
			float: right;
			border-left: 1px solid #ececec;
			padding-left: 40px;
			p{
				font-size: 14px;
				line-height: 20px;
				margin-bottom: 14px;
			}
		}
	}
	#rightcopy{
		font-size: 16px;
		line-height: 26px;
		text-align: center;
		padding: 20px 0;
	}
}


.rightModel{
	width: 320px;
	box-sizing: border-box;
	padding: 40px 20px;
	margin-bottom: 40px;
	.title{
		text-align: center;
		margin-bottom: 10px;
	}
	.subtitle{
		text-align: center;
		margin-bottom: 20px;
		font-size: 18px;
		font-weight: bold;
	}
	li{
		padding: 10px 0;
		font-size: 14px;
		line-height: 18px;
		border-top: 1px solid #fff;
		&:last-child{
			border-bottom: 1px solid #fff;
		}
	}
	&.news{
		background: #3190e2;
		color: #fff;
		margin-top: 94px;
	}
	&.good{
		background: #e5e5e5;
		.subtitle{
			color: #3190e2;
		}
	}
}