/* 兩性健康start */
.health-box{
	margin-top: 0.4rem;
	margin-left: 0.2rem;
	margin-right: 0.24rem;
	margin-bottom: 0.6rem;
	border-bottom: 0.01rem solid #E6E6E6;
	padding-bottom: 0.4rem;
}
.health-box .health-single .main-title a{
	font-size: 0.3rem;
	color: #000000;
	font-weight: 500;
}
.health-box .health-img{
	float:right;
	width: 1.96rem;
}
.health-box .health-many{
	margin-top: 0.2rem;
}
.health-box .health-text{
	float:left;
	padding-left: 0.25rem;
	padding-right: 0.25rem;
	align-self: center;
	width: 4.9rem;
	height: 1.6rem;
	background: #FAFAFA;
	display: flex;
}
.health-box .health-text .main-title{
	font-size: 0.3rem;
	font-weight: 500;

}
.health-box .health-text .main-title a{
	color: #000000;
}
.health-box .health-img img{
	width: 1.96rem;
	height: 1.6rem;
}

.health-box .brief{
	color: #999999;
	font-size: 0.26rem;
	align-self: center;
}

.health-box .brief a{
	color: #1E772D;
	float: right;
}

/* 兩性健康end */