

/* 产品开始 */
/* .box-shop{
    margin-left:0.2rem;
    margin-right:0.2rem;

} */
.goods-item{
    margin-top: 0.46rem;
    border-bottom: 0.01rem solid #E6E6E6;
    padding-bottom: 0.4rem;
}
.goods-item .shop-img,.goods-item .shop-text{
    float:left;
}
.goods-item .shop-text{
    margin-left: 0.21rem;
    position: relative;
    width: 4rem;
    background-image: url(/static/mobile/img/shuiyin.jpg);
    background-repeat: no-repeat;
    background-size: 4rem 2.8rem;
}
.goods-item .shop-img img{
    width: 2.6rem;

}
.goods-item .shop-text .main-title{
    font-size: 0.3rem;
    font-weight: 500;
    margin-bottom: 0.29rem;
}
.goods-item .shop-text .main-title a{
    color: #262626;
}
.goods-item .shop-text .sub-title {
    color: #999999;
    font-size: 0.24rem;
    text-indent: -0.1rem;
}

.goods-item .shop-text .grey-price {
    /* margin-top: 0.2rem; */
    font-size: 0.24rem;
    color: #434343;
    text-decoration: line-through;
}

.goods-item .shop-text  .red-price {
    color: #E63333;
    font-size: 0.28rem;
    font-weight: 500;
}
.goods-item .buy-button{
    margin-top: 0.28rem;
}
.goods-item .buy-button a{
    width: 4.1rem;
    height: 0.6rem;
    line-height: 0.6rem;
    background: #FCB946;
    border-radius: 0.28rem;
    color: #FFFFFF;
    border: none;
    font-size: 0.26rem;
    box-shadow: 0 0.02rem 0.06rem 0 rgba(110, 70, 1, 0.4);
    text-shadow: 0 0.02rem 0.06rem #de980d;
    outline: none;
    display: inline-block;
    text-align: center;
    position: relative;
}
.goods-item .buy-button a .gou{
    margin-right: 0.17rem;
}
.goods-item .buy-button a .icon-click{

    font-size: 0.36rem;
    position: absolute;
}

.box-shop .more{
    margin-top: 0.3rem;
    text-align: center;
}
.box-shop .more .next{
    width: 3rem;
    height: 0.68rem;
    line-height: 0.68rem;
    border: 0.01rem solid #1E772D;
    border-radius: 0.1rem;
    color: #1E772D;
    display: inline-block;
    font-size: 0.28rem;
    margin-right: 0.3rem;
}
.box-shop .more .cent{
    width: 3rem;
    height: 0.68rem;
    line-height: 0.68rem;
    border: 0.01rem solid #1E772D;
    border-radius: 0.1rem;
    color: #fff;
    display: inline-block;
    background-color: #1E772D;
    font-size: 0.28rem;
}

/* 产品end */










