.untoward {
  /*  margin-top: 0.58rem; */
    padding-right: 0.24rem;
}
.article-row {
    margin-top: 0.6rem;
    margin-left: 0.41rem;
}
.article-row .item {
    position: relative;
    border-bottom: 0.01rem solid #E6E6E6;
    margin-bottom: 0.3rem;
    padding-bottom: 0.2rem;
}
.article-row .item:last-child{
	border: none;
}

.article-row .item .text {
    float: left;
    height: 1rem;
    line-height: 1rem;
	margin-left: 0.3rem;
}

.article-row .item .text a{
	color: #262626;
}

.article-row .item .article-img {
    float: left;
}

.article-row .item .article-img img {
    width: 1.5rem;
    height: 1.58rem;
}

.article-row .item .date-time {
    position: absolute;
    left: 1.8rem;
    bottom: 0.1rem;
    color: #999999;
}